body {
  margin: 0;
  height: 2000px;
  background-color: #1e3932;
}

section {
  background-image: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  height: 100vh;
}

.photo {
  position: absolute;
  top: 100px;
  right: 200px;
  background-attachment: fixed;
  background-size: 100% !important
    ;
}

.text1 {
  color: white;
  width: 258px;
  font-size: 6em;
  font-family: sans-serif;
  position: absolute;
  top: 120px;
  left: 400px;
  background-attachment: fixed;
  animation: slide 1s ease-out;
}

.text2 {
  color: white;
  height: 156px;
  width: 362px;
  font-size: 1em;
  font-family: sans-serif, "맑은 고딕";
  position: absolute;
  top: 530px;
  left: 400px;
  background-attachment: fixed;
  animation: slide 1.5s ease-out;
}

@keyframes slide {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 400px;
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    left: 400px;
    opacity: 1;
  }
  to {
    left: -100px;
    opacity: 0;
  }
} ;
